---
interface Props {
  class?: string;
  borderRadius?: string;
  style?: string;
}

const { borderRadius = "22px", style } = Astro.props;
const rootStyle = style
  ? `--liquid-radius: ${borderRadius}; ${style}`
  : `--liquid-radius: ${borderRadius}`;
---

<div class={`liquid_glass-wrapper ${Astro.props.class || ""}`} style={rootStyle}>
  <div class="liquid_glass-outer"></div>
  <div class="liquid_glass-cover"></div>
  <div class="liquid_glass-sharp"></div>
  <div class="liquid_glass-reflect"></div>
  <div class="liquid_glass-content">
    <slot />
  </div>
</div>
